{% extends _layout %}

{% block banner %}
<section id="main-banners">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="slider" class="slider flexslider">
					<ul class="slides">
						{% for banner in banners %}
						<li>
							{{ linked_banner(banner) }}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(window).load(function(){
		$('#slider').flexslider({
			animation: "fade",
			slideshow: true,
			slideshowSpeed: 5000,
			controlNav: true,
			directionNav: false,
			start: function(slider){
				$('body').removeClass('loading');
			}
		});
	});
</script>
{% endblock %}

{% block content %}
	{% import 'mobile_new/product_listing.html' as product_listing %}

	<div class="product-list clearfix">
        <div class="loading">
            <div class="fa fa-fw fa-5x fa-spin fa-spinner"></div>
			<p>{{ 'Carregando produtos' | trans({'en':'Loading Products'}) }}</p>
        </div>

		<div class="products" style="display:none;">
			{% for product in products %}
				{{ product_listing.item(product, category, 6) }}
			{% endfor %}
		</div>
	</div>

	<script>
		$(window).load(function () {
			$('.product-list .loading').fadeOut();
			$('.product-list .products').fadeIn();

			if ($('.product-list-item').length > 0) {
				$('.product-list-item .product-img').equalHeights();
				$('.product-list-item .product-saleprice').equalHeights();
				$('.product-list-item .installments-price').equalHeights();
				$('.product-list-item .title').equalHeights();
				$('.product-list-item .price').equalHeights();
				$('.product-list-item .product-description').equalHeights();
				$('.product-list-item').equalHeights();
			}
		});
	</script>
{% endblock %}
