{% extends _layout %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
		<h2 class="page-title">{{ lang('identify_header') }}</h2>
	</div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ lang('create_new_account') }}</h3>
            </div>

            <div class="panel-body">
                {{ form_open('secure/register', '', {'only_email': true, 'redirect': redirect, 'new': 'new', 'submitted': 'submitted'}) }}
                    <p>{{ lang('inform_your_email') }}</p>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                        <input type="text" name="email" class="form-control" placeholder="{{ lang('enter_with_your_email') }}" autocomplete="off" />
                    </div>

                    <input type="submit" value="{{ lang('register') }}" name="submit" class="btn btn-primary margin-top pull-right"/>
                {{ form_close() }}
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ lang('iam_already_registered') }}</h3>
            </div>

            <div class="panel-body">
                {{ form_open('secure/login', '', {'redirect': redirect, 'submitted': 'submitted'}) }}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" name="email" class="form-control" placeholder="{{ lang('enter_with_your_email') }}" autocomplete="off" />
                    </div>

                    <div class="input-group margin-top">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input type="password" name="password" class="form-control" placeholder="{{ lang('your_password') }}" autocomplete="off" />
                    </div>

                    <div class="clearfix">
                        <label class="checkbox pull-right">
                            <input name="remember" value="true" type="checkbox" />
                            {{ lang('remember_me') }}
                        </label>

                        <span class="margin-top10 pull-left">
                            <a href="{{ site_url('secure/forgot_password') }}">
                                {{ lang('forgot_password') }}
                            </a>
                        </span>
                    </div>

                    <input type="submit" value="{{ lang('page_title_login') }}" name="submit" class="btn btn-primary margin-top pull-right" />
                {{ form_close() }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
