{% extends _layout %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div class="myaccount">
			<div class="sidebar">
				<div class="side-header">
					<i class="fa fa-fw fa-star"></i> {{ lang('page_title_my_account') }}
				</div>

				<ul id="mytabs">
					<li class="active"><a href="#dashboard" data-toggle="tab">{{ 'Painel Principal'|trans({'en': 'Dashboard'}) }}</a></li>
					<li><a href="#myaccount" data-toggle="tab">{{ 'Dados Pessoais'|trans({'en': 'Account'}) }}</a></li>
					<li><a href="#addresses" data-toggle="tab">{{ 'Endereços'|trans({'en': 'Addresses'}) }}</a></li>
					<li><a href="#myorders" data-toggle="tab">{{ 'Histórico de Pedidos'|trans({'en': 'Orders'}) }}</a></li>
					<li><a href="#mytestimonials" data-toggle="tab">{{ 'Depoimentos'|trans({'en': 'Testimonials'}) }}</a></li>
					<li><a href="#mywishlist" data-toggle="tab">{{ 'Lista de desejos'|trans({'en': 'Wishlist'}) }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		{% if validation_errors() %}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ validation_errors() }}
		</div>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="tab-content">
			<div class="tab-pane active" id="dashboard">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="category-header">{{ 'Painel Principal'|trans({'en': 'Dashboard'}) }}</h2>
						<p class="desc">
							{{ 'No Painel Principal você pode visualizar um resumo das atividades da sua conta mais recentes e atualizar
							suas informações de conta. Selecione um link abaixo para visualizar ou editar informações.'|trans({'en': ''}) }}
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="inbox">
							<h4>
								{{ 'Informações da Conta'|trans({'en': 'Account information'}) }}
								<span class="pull-right">
									<a href="#" id="edit_account" class="btn_link">
										{{ 'Editar'|trans({'en': 'Edit'}) }}
									</a>
								</span>
							</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body my-panel">
								<ul>
									{% if customer.cnpj %}
										<li>{{ customer.company }}</li>
									{% else %}
										<li>{{ customer.firstname }} {{ customer.lastname }}</li>
										<li>{{ customer.email }}</li>
										<li>{{ customer.phone }}</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="inbox">
							<h4>
								{{ 'Endereço Principal'|trans({'en': 'Default address'}) }}

								<span class="pull-right">
									<a href="#" id="list_all" class="btn_link">
										{{ 'Listar'|trans({'en': 'List all'}) }}
									</a>
								</span>
							</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body my-panel">
								<ul>
									{% if default_address %}
									<li>{{ default_address.field_data|format_address_nl2br }}</li>
									{% else %}
									<li class="empty">{{ 'Não há endereço ainda.'|trans({'en': 'No address.'}) }}</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="myaccount">
				{{ form_open('secure/my_account') }}
				<div class="row">
					<div class="col-xs-12">
						<h2 class="category-header">{{ 'Dados Pessoais'|trans({'en': 'Account'}) }}</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="inbox">
							<h4>{{ 'Dados da Conta'|trans({'en': 'Account'}) }}</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-info-circle"></i>&nbsp; {{ 'Se você não quiser alterar sua senha, deixar os campos em branco'|trans({'en': 'Leave the password blank if you don´t want to change it.'}) }}
								</div>

								<div class="form-group">
									<label for="email" class="control-label">
										{{ 'E-mail'|trans({'en': 'E-mail'}) }}*
									</label>
									{{ form_input({'name': 'email', 'placeholder': 'E-mail'|trans({'en': 'E-mail'}), 'class': 'form-control', 'value': set_value('email', customer.email), 'autocomplete': 'off'}) }}
								</div>

								<div class="form-group">
									<label for="password" class="control-label">
										{{ 'Senha'|trans({'en': 'Password'}) }}
									</label>
									{{ form_input({'name': 'password', 'type': 'password', 'placeholder': 'Senha'|trans({'en': 'Password'}), 'class': 'form-control', 'value': '', 'autocomplete': 'off'}) }}
								</div>

								<div class="form-group">
									<label for="confirm" class="control-label">
										{{ 'Confirme'|trans({'en': 'Confirm'}) }}
									</label>
									{{ form_input({'name': 'confirm', 'type': 'password', 'placeholder': 'Confirmar senha'|trans({'en': 'Confirm password'}), 'class': 'form-control', 'value': '', 'autocomplete': 'off'}) }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="inbox">
							<h4>{{ 'Dados Pessoais'|trans({'en': 'Personal Information'}) }}</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								{% if customer.cnpj %}
								<div class="form-group">
									<label for="cnpj" class="control-label">
										{{ 'CNPJ'|trans({'en': 'CNPJ'}) }} *
									</label>
									{{ form_input({'name': 'cnpj', 'placeholder': 'CNPJ'|trans({'en': 'CNPJ'}), 'class': 'form-control', 'value': set_value('cnpj', customer.cnpj)}) }}
								</div>

								<div class="form-group">
									<label for="company" class="control-label">
										{{ 'Empresa'|trans({'en': 'Company'}) }} *
									</label>
									{{ form_input({'name': 'company', 'placeholder': 'Empresa'|trans({'en': 'Company'}), 'class': 'form-control', 'value': set_value('company', customer.company)}) }}
								</div>
								{% else %}
								<div class="form-group">
									<label for="firstname" class="control-label">
										{{ 'Nome'|trans({'en': 'Firstname'}) }} *
									</label>
									{{ form_input({'name': 'firstname', 'placeholder': 'Nome'|trans({'en': 'Firstname'}), 'class': 'form-control', 'value': set_value('firstname', customer.firstname)}) }}
								</div>

								<div class="form-group">
									<label for="lastname" class="control-label">
										{{ 'Sobrenome'|trans({'en': 'Lastname'}) }} *
									</label>
									{{ form_input({'name': 'lastname', 'placeholder': 'Sobrenome'|trans({'en': 'Lastname'}), 'class': 'form-control', 'value': set_value('lastname', customer.lastname)}) }}
								</div>

								<div class="form-group">
									<label for="cpf" class="control-label">
										{{ 'CPF'|trans({'en': 'CPF'}) }} *
									</label>
									{{ form_input({'name': 'cpf', 'placeholder': 'CPF'|trans({'en': 'CPF'}), 'class': 'form-control', 'value': set_value('cpf', customer.cpf)}) }}
								</div>

								<div class="form-group">
									<label for="sex" class="control-label">
										{{ 'Sexo'|trans({'en': 'Gender'}) }}
									</label>
									{{ form_dropdown('sex', {0: 'Masculino'|trans({'en': 'Men'}), 1: 'Feminino'|trans({'en': 'Woman'})}, set_value('sex', customer.sex), 'class="form-control"') }}
								</div>

								<div class="form-group">
									<label for="birthday" class="control-label">
										{{ 'Data de Nascimento'|trans({'en': 'Birthday'}) }}
									</label>
									{{ form_input({'name': 'birthday', 'placeholder': 'Data de Nascimento'|trans({'en': 'Birthday'}), 'class': 'form-control', 'value': set_value('birthday', customer.birthday|to_formated_date)}) }}
								</div>
								{% endif %}

								<div class="form-group">
									<label for="telephone" class="control-label">
										{{ 'Telefone'|trans({'en': 'Phone'}) }} *
									</label>
									{{ form_input({'name': 'phone', 'placeholder': 'Telefone'|trans({'en': 'Phone'}), 'class': 'form-control', 'value': set_value('phone', customer.phone)}) }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="inbox">
							<h4>{{ 'Newsletter'|trans({'en': 'Newsletter'}) }}</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default panel-newsletter">
							<div class="panel-body">
								<label>
									<input type="checkbox" name="email_subscribe" value="1" {{ set_radio('email_subscribe', '1', true) }} />
									Deseja receber nossa newsletter?
								</label>

								<small>(Não compartilhamos seu email com terceiros)</small>

								<div class="text-right">
									<input type="submit" value="Atualizar" class="btn btn-primary btn-bck" />
								</div>
							</div>
						</div>
					</div>
				</div>
				{{ form_close() }}
			</div>

			<div class="tab-pane" id="addresses">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="category-header">{{ 'Endereços'|trans({'en': 'Addresses'}) }}</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="inbox">
							<h4>{{ 'Lista de Endereços'|trans({'en': 'Address'}) }}</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							{% if addresses|count > 0 %}
							<table class="table table-striped">
								{% for address in addresses %}
								<tr id="address_{{ address.id }}">
									<td>
										{{ address.field_data|format_address_nl2br }}
									</td>
									<td>
										<div class="row">
											<div class="col-xs-12">
												<input type="button" class="btn btn-block btn-default edit_address" rel="{{ address.id }}" value="{{ lang('form_edit') }}" />
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12">
												<input type="button" class="btn btn-block btn-danger delete_address" rel="{{ address.id }}" value="{{ lang('form_delete') }}" />
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="pull-right" style="padding-top: 10px;">
													<input type="radio" name="ship_chk" onclick="set_default({{ address.id }},'ship')" {{ default_address.id == address.id ? 'checked="checked"' : '' }}/>
													{{ lang('default_shipping') }}
												</div>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</table>
							{% else %}
							<div class="panel-body my-panel">
								<div class="alert alert-danger text-center"><i class="glyphicon glyphicon-warning-sign"></i>&nbsp; {{ lang('no_addresses') }}</div>
							</div>
							{% endif %}
							<div class="panel-body">
								<span class="pull-right">
									<input type="submit" value="{{ lang('add_address') }}" class="btn btn-primary btn-bck edit_address" />
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="myorders">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="category-header">{{ 'Histórico de Pedidos'|trans({'en':'Order History'}) }}</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="inbox">
							<h4>{{ 'Pedidos'|trans({'en': 'Orders'}) }}</h4>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default order">
							{% if orders|count > 0 %}
								{% for order in orders %}
									<div class="row">
										<div class="col-xs-12">
											<h3>
												<a href="{{ site_url('secure/order/' ~ order.order_number) }}">
													#{{ order.order_number }}
												</a>
											</h3>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12">
											{{ lang('order_date') }}: {{ order.ordered_on|to_formated_date('date_format_long') }}
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12">
											<span class="label {{ order.status|get_status_label }}">{{ order.status|translate_order_status }}</span>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12">
											<a href="{{ site_url('secure/duplicate_cart/' ~ order.order_number) }}" class="btn btn-block btn-default btn-sm">
												Refazer Pedido <i class="fa fa-repeat"></i>
											</a>
										</div>
									</div>

									<hr>
								{% endfor %}
							{% else %}
								<div class="panel-body my-panel">
									<div class="alert alert-danger text-center"><i class="fa fa-exclamation-triangle"></i>&nbsp; {{ lang('no_order_history') }}</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="mytestimonials">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="category-header">{{ 'Depoimentos'|trans({'en':'Testimonials'}) }}</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						{% for product in purchased_products %}
							{{ form_open('testimonials/create', 'class="testimonial-form"') }}
							<div class="rating-product">
								<div class="row">
									<div class="col-xs-12">
										{{ product_img(product, 'small', {'class': 'thumbnail'}) }}
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label>{{ lang('how_much_stars_for', {'name': product.name}) }}</label>
											<ul class="rating-list list-unstyled">
												<li>
													<div class="rating-stars" data-name="rating_look"></div>
													{{ lang('rating_look') }}
												</li>
												<li>
													<div class="rating-stars" data-name="rating_usability"></div>
													{{ lang('rating_usability') }}
												</li>
												<li>
													<div class="rating-stars" data-name="rating_support"></div>
													{{ lang('rating_support') }}
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<label for="message">{{ lang('testimonial_message') }}</label>
										{{ form_textarea({'name': 'message', 'class': 'form-control', 'rows': '5'}) }}
										<p class="help-block">{{ lang('testimonial_message_help') }}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										{{ form_hidden('sender_email', customer.email) }}
										{{ form_hidden('customer_id', customer.id) }}
										{{ form_hidden('referrer', site_url('secure/my_account?tab=mytestimonials')) }}
										{{ form_hidden('subject', 'Depoimento') }}
										{{ form_hidden('sender_name',  customer.firstname) }}
										{{ form_hidden('product_id',  product.id) }}

										<input type="submit" name="submit" value="{{ lang('form_submit') }}" class="btn btn-primary" />
									</div>
								</div>

								<hr>
							</div>
							{{ form_close() }}
						{% else %}
							<div class="panel panel-default">
								<div class="panel-body my-panel">
									<div class="alert alert-danger">
										<i class="fa fa-exclamation-triangle"></i>&nbsp; {{ lang('no_new_products_for_testimonial') }}
									</div>
								</div>
							</div>
						{% endfor %}

						<script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/jquery.raty.js') }}"></script>
						<script type="text/javascript">
							$(document).ready(function(){
								$('.rating-stars').each(function(){
									var name = $(this).data('name');
									$(this).raty({path: '/assets/img', scoreName: name});
								});

								$('.testimonial-form').submit(function(e){
									if ($('textarea[name=message]').val() != '' && $('input[name=rating_look]').val()>0 && $('input[name=rating_usability]').val()>0 && $('input[name=rating_support]').val()>0) {
										return true;
									}else{
										e.preventDefault();
										alert('{{ lang('required_fields_testimonial') }}');
										return false;
									};
								});
							});
						</script>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="mywishlist">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="category-header">{{ lang('my_wishlist') }}</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						{% for product in wishes %}
							<div class="rating-product">
								<div class="row">
									<div class="col-xs-12">
										{{ product_img(product, 'small', {'class': 'thumbnail'}) }}
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<h3>{{ product.name }}</h3>

										<p class="buy-price">
											{{ (product.saleprice > 0 ? '<span class="slash">' ~ product.price|format_currency ~ '</span>' : '')|raw }}
											<strong class="sale">{{ product_price|format_currency }}</strong>
										</p>

										<p>{{ product.excerpt }}</p>

										<p class="buy-fields">
											{{ form_open('cart/add_to_cart', '', {'cartkey': cart('cartkey'), 'id': product.id, 'variant_id': product.variant_id}) }}
											<button class="btn btn-primary buy-btn btn-block" type="submit" value="submit">
												<i class="fa fa-shopping-cart"></i> Comprar agora
											</button>
											 <div class="text-center">ou</div>
											 <a class="btn btn-danger btn-block" href="{{ site_url('secure/removewish/' ~ product.id ~ '/' ~ product.variant_id) }}">
												 <i class="fa fa-remove"></i> Excluir
											 </a>
											{{ form_close() }}
										</p>
									</div>
								</div>
							</div>
							<hr>
						{% else %}
							<div class="panel panel-default">
								<div class="panel-body my-panel">
									<div class="alert alert-danger">
										<i class="fa fa-exclamation-triangle"></i>&nbsp; {{ 'Não há desejos na sua lista.'|trans({'en':'No wishes in your list.'}) }}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('#mytabs a').click(function(e){
            e.preventDefault();
            $(this).tab('show');
        });

        {% if tab %}
            $('#mytabs a[href="#{{ tab }}"]').tab('show');
        {% endif %}

        $('#list_all').click(function(e){
            e.preventDefault();
            $('#mytabs a[href="#addresses"]').tab('show');
        });

        $('#edit_account').click(function(e){
            e.preventDefault();
            $('#mytabs a[href="#myaccount"]').tab('show');
        });

        $('input[name=phone]').mask_brazilian_phone();
        $('input[name=cpf]').mask('999.999.999-99');
        $('input[name=birthday]').mask('99/99/9999');

        $('.delete_address').click(function(){
            if($('.delete_address').length > 1){
                if(confirm('{{ lang('delete_address_confirmation') }}')){
                    $.post("{{ site_url('secure/delete_address') }}", { id: $(this).attr('rel') },
                    function(data){
                        $('#address_'+data).remove();
                    });
                }
            } else{
                alert('{{ lang('error_must_have_address') }}');
            }
        });

        $('.edit_address').click(function(e){
            e.preventDefault();
            $.post('{{ site_url('secure/address_form') }}/' + $(this).attr('rel'),
                function(data){
                    $('#modal-container').html(data).modal('show');
                }
            );
        });

        function set_default(address_id, type){
            $.post('{{ site_url('secure/set_default_address') }}/',{id:address_id, type:type});
        }
	});
</script>
{% endblock %}
