<!DOCTYPE html>
<html lang="en">
<head>
	{{ header_code() }}

	<title>{{ shop_config('company_name') }} | {{ document_title(seo_title) }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="{{ base_url('loja/twig/mobile/assets/img/shop-icon.png') }}"/>

	<link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile/assets/css/flexslider.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile/assets/css/styles_less.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile/assets/css/overrides.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile/assets/css/font-awesome.min.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ shop_config('base_http') }}://fonts.googleapis.com/css?family=Raleway:300,400,700">
	<link rel="stylesheet" type="text/css" href="{{ shop_config('base_http') }}://fonts.googleapis.com/css?family=PT+Sans+Narrow:300,400,700">

	<script type="text/javascript" src="{{ shop_config('base_http') }}://www.google.com/jsapi"></script>
	<!-- jQuery -->
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/modernizr.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/jquery.maskedinput.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/tinyvalidation.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/application.js') }}"></script>

	<!--[if lt IE 9]>
	<script src="dist/html5shiv.js"></script>
	<![endif]-->
</head>
<body class="loading vertical">
	{% if design_mode %}
		{{ template_navigator() }}
	{% endif %}
	{{ body_code() }}
	<div class="wrapper">
		<!-- TOP NAV -->
		<div id="toolbar">
			<a href="#search" class="icon icon-search accordion-toggle" data-toggle="collapse" data-parent="#toolbar">&nbsp;</a>
			<a href="#email" class="icon icon-envelope accordion-toggle" data-toggle="collapse" data-parent="#toolbar">&nbsp;</a>
			<a href="{{ site_url('secure/my_account') }}" class="icon icon-user">&nbsp;</a>
			<a href="{{ site_url('cart/view_cart') }}" class="icon icon-shopping-cart">&nbsp;</a><a href="{{ site_url('cart/view_cart') }}" class="cart-total-items"><span class="badge">{{ items_in_cart() }}</span></a>

			<a href="#menu" data-toggle="collapse" data-parent="#toolbar" class="menu icon icon-reorder accordion-toggle">&nbsp;</a>
			<nav id="menu" class="collapse">
				<ul id="pulldown" class="pulldown">
					{% for cat in categories %}
						<li><a href="{{ site_url(cat.category.slug) }}">{{ cat.category.name }}</a></li>
					{% endfor %}
				</ul>
			</nav>


			<div id="email" class="pulldown email collapse">
				<div class="full-pad">
					<a href="mailto:{{ shop_config('email') }}" class="btn alternate">Email {{ shop_config('email') }}</a>
				</div>
			</div>

			{#
			<div id="phone" class="pulldown phone collapse">
				<div class="full-pad">
					<a href="tel:(123)%20456%207890" class="btn alternate"><span class="icon-phone"></span> Call (123) 456 7890</a>
				</div>
			</div>
			#}

			<div id="search" class="pulldown search collapse ">
				{{ form_open('cart/search', 'id="form-search" class="full-pad input-append"') }}
					<input type="text" name="term" class="replace product_search" title="Search" placeholder="{{ 'Termo de busca...'|trans({'en':'Search for...'}) }}" />
					<button type="submit" class="submit btn alternate go_search">{{ 'Buscar'|trans({'en':'Search'}) }}</button>
				{{ form_close() }}
			</div>
		</div>
		<!-- LOGO -->
		<div class="header rel side-margin">
			<a id="logo" class="bl" href="/">
				<img src="{{ logo_url('dark') }}">
			</a>
		</div>
		<!-- NAV -->

		<!-- CONTENT -->

		{% if flashdata.error %}
			<div class="alert alert-danger">{{ flashdata.error }}</div>
		{% endif %}
		{% if flashdata.message %}
			<div class="alert alert-info">{{ flashdata.message }}</div>
		{% endif %}

		{% block content %}

		{% endblock %}

		<!-- SECONDARY NAV -->
		<nav id="secondary-menu">
			<ul>
				{% for cat in categories %}
					<li><a href="{{ site_url(cat.category.slug) }}">{{ cat.category.name }}</a></li>
				{% endfor %}
			</ul>
		</nav>

		<!-- FOOTER -->
		<footer class="side-pad">

			<div id="sign-up">
				<h4>{{ 'Assine nossa newsletter'|trans({'en':'Sign our newsletter'}) }}</h4>

				{{ form_open('contact/newsletter_signup', 'class="contact-form input-append"') }}
				<input type="email" value="" name="email" class="required email" id="contact_email" placeholder="{{ 'Seu e-mail'|trans({'en':'Email Address'}) }}">
				<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="submit btn">{{ 'Cadastrar'|trans({'en':'Subscribe'}) }}</button>
				{{ form_close() }}

			</div>


			<aside id="social-media">
			{%
				set socials = {
				facebook: {link: social_link('facebook'), alt: "Curta nossa página no Facebook"},
				twitter: {link: social_link('twitter'), alt: "Siga-nos no Twitter"},
				instagram: {link: social_link('instagram'), alt: "Siga-nos no Instagram"},
				google: {link: social_link('google'), alt: "Siga-nos no Google"},
				youtube: {link: social_link('youtube'), alt: "Siga-nos nosso canal no Youtube"},
				pinterest: {link: social_link('pinterest'), alt: "Siga-nos no Pinterest"}
			}
			%}
			{% for social, attr in socials %}
				{% if attr.link %}
					<a href="{{ attr.link }}" title="{{ attr.alt }}" class="fa fa-{{ social }}"></a>
				{% endif %}
			{% endfor %}
			</aside>

			<nav class="footer navigation clearfix">
				<ul id="footer_navigation">
					{% for page in get_children_of_page('institucional') %}
						<li>
							<a href="{{ site_url(page.slug) }}">{{ page.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
			<div class="credit-cards">
				<ul>
					<li class="cc visa"></li>
					<li class="cc mc"></li>
				</ul>
			</div>
			<div class="credits">
				<p>Mobile / <a href="/?view=desktop">Desktop</a></p>
				<p>Powered by <a href="http://www.xtechcommerce.com.br/" target="_blank">Xtech Commerce</a></p>
			</div>
		</footer>
	</div>
	
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/retina.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/bootstrap-transition.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/bootstrap-collapse.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/bootstrap-tab.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/jquery.flexslider-min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('loja/twig/mobile/assets/js/jquery.easing.js') }}"></script>
</body>
</html>