{% if payment.info.confirmtitle %}
	<h1 class="page-title">{{ payment.info.confirmtitle }}</h1>
{% else %}
	<h1 class="page-title">Compra realizada com sucesso!</h1>
{% endif %}

<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<h4>O número do seu pedido é #{{ order.order_number }}</h4>
				{% if payment.info.boletourl %}
				<!-- Boleto begin -->

					<p>Agora, resta imprimir o boleto. Ele pode ser pago em qualquer agência ou pelo site do seu banco.</p>
					<p><a class="btn btn-primary btn-lg" target="_blank" href="{{ payment.info.boletourl }}">Imprimir boleto</a></p>
					<p>Como o banco leva um dia para processar o boleto, o prazo de entrega começa a valer um dia após o seu pagamento.</p>

				<!-- Boleto end -->
				{% elseif payment.info.paymenturl %}

					<p>Agora, resta completar o pagamento. Clique no link abaixo para efetuar o pagamento do seu pedido.</p>
					<p><a class="btn btn-primary btn-lg" target="_blank" href="{{ payment.info.paymenturl }}">Efetuar o Pagamento</a></p>

				{% elseif payment.info.paymentmessage %}

					<p>{{ payment.info.paymentmessage }}</p>

				{% else %}
				<!-- Other begin -->

					<p>
						Enviamos os detalhes do seu pedido para {{ order.email }}.
						{% if payment.info.status %}
							<br>O status atual da sua transação é <strong>{{ payment.info.status }}</strong>.
						{% endif %}
					</p>

					<p><a class="btn btn-default" href="{{ site_url('/') }}">Voltar para pagina inicial</a></p>

				<!-- Other end -->
				{% endif %}

				{% if shop_config('ebit_id') is not empty %}
					<br>
					<a id="bannerEbit"><img src="https://www.ebitempresa.com.br/bitrate/banners/b1{{ shop_config('ebit_id') }}5.gif"></a>
					{% if shop_config('buscape_id') is not empty %}
						{% set birthday = order.customer_birthday|split('-') %}
						{% set values = '' %}
						{% set quantities = '' %}
						{% set names = '' %}
						{% set skus = '' %}
						{% for product in order.contents %}
							{% set values = values ~ (product.price|number_format(2, ".", "") ~ (loop.index > 0 and not loop.last ? '|' : '')) %}
							{% set quantities = quantities ~ product.quantity ~ (loop.index > 0 and not loop.last ? '|' : '') %}
							{% set names = names ~ product.name ~ (loop.index > 0 and not loop.last ? '|' : '') %}
							{% set skus = skus ~ product.sku ~ (loop.index > 0 and not loop.last ? '|' : '') %}
						{% endfor %}
						<param id="ebitParam" value="email={{ order.email }}&gender={{ order.customer_sex ? 'F' : 'M' }}&birthDay={{ birthday[2] ~ '-' ~ birthday[1] ~ '-' ~ birthday[0] }}&zipCode={{ order.ship_zip|replace({'-':''}) }}&deliveryTax={{ order.shipping }}&deliveryTime={{ order.delivery_time }}&totalSpent={{ order.total }}&value={{ values }}&quantity={{ quantities }}&productName={{ names }}&transactionId={{ order.order_number }}&sku={{ skus }}&buscapeId={{ shop_config('buscape_id') }}&storeId={{ shop_config('ebit_id') }}" />
					{% endif %}
					<script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?{{ shop_config('ebit_id') }}&lightbox=true"></script>
				{% endif %}
			</div>

			<div class="col-md-6">
				{{ global_js('sharer.js', true) }}
				{{ global_css('sharer.css', true) }}

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Compartilhe sua compra!</h3>
					</div>
					<div class="panel-body">
						<p>Instruções: Selecione um produto e escolha Facebook ou Twitter.</p>
						<div class="share-product-list row">
							{% for product in order.contents %}
								<div class="col-md-4">
									<a class="thumbnail share-product{{ loop.first ? ' active' : '' }}" href="#" data-description="{{ product.excerpt }}" data-caption="{{ product.name }}" data-link="{{ site_url('p/' ~ product.id) }}" data-picture="{{ product_img(product, 'thumbnails', {'only_link': true}) }}" data-name="Em breve dono de uma linda {{ product.name }} da {{ shop_config('company_name') }}!">
										{{ product_img(product, 'thumbnails') }}
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="panel-footer text-center">
						<a class="facebookbtn-link btn btn-default" href="#">
							Facebook
						</a> ou
						<a class="twitterbtn-link btn btn-default" href="#">
							Twitter
						</a>
					</div>
				</div>
			</div>
		</div>

		{% if not is_local() %}
			<script>
				ga('require', 'ecommerce');

				var gaTransaction = {
					'id': '{{ order.order_number }}',                                    // Transaction ID. Required.
					'affiliation': '{{ shop_config('company_name')|e('html') }}',        // Affiliation or store name.
					'revenue': '{{ order.total|number_format(2, ".", "") }}',            // Grand Total.
					'shipping': '{{ order.shipping|number_format(2, ".", "") }}',        // Shipping.
					'tax': '0',                                                          // Tax.
					'currency': '{{ shop_config('currency') }}'
				};

				ga('ecommerce:addTransaction', gaTransaction);

				{% for product in order.contents %}
				ga('ecommerce:addItem', {
					'id': '{{ order.order_number }}',                                    // Transaction ID. Required.
					'name': '{{ product.name|e('html') }}',                              // Product name. Required.
					'sku': '{{ product.sku|e('html') }}',                                // SKU/code.
					'category': '{{ get_product_category(product.id)|e('html') }}',      // Category or variation.
					'price': '{{ product.price|number_format(2, ".", "") }}',            // Unit price.
					'quantity': '{{ product.quantity }}'                                 // Quantity.
				});
				{% endfor %}

				ga('ecommerce:send');

				{% if shop_config('google_analytics') %}
				ga('customTracker.require', 'ecommerce');
				ga('customTracker.ecommerce:addTransaction', gaTransaction);

				{% for product in order.contents %}
				ga('customTracker.ecommerce:addItem', {
					'id': '{{ order.order_number }}',                                    // Transaction ID. Required.
					'name': '{{ product.name|e('html') }}',                              // Product name. Required.
					'sku': '{{ product.sku|e('html') }}',                                // SKU/code.
					'category': '{{ get_product_category(product.id)|e('html') }}',      // Category or variation.
					'price': '{{ product.price|number_format(2, ".", "") }}',            // Unit price.
					'quantity': '{{ product.quantity }}'                                 // Quantity.
				});
				{% endfor %}

				ga('customTracker.ecommerce:send');
				{% endif %}
			</script>

			<!-- BEGIN - Instaby -->
			{% if shop_config('instaby_url') %}
				<script type="text/javascript" charset="utf-8">
					var orderInfo = {
						nome_loja: '{{ shop_config('company_name')|e('html') }}',
						orderID: '{{ order.order_number }}',
						total: '{{ (order.total - order.shipping)|number_format(2, ".", "") }}'
					};
					(function () {
					var ss = document.createElement('script');
					ss.type = 'text/javascript';
					ss.async = true;
					ss.src = '//s3-sa-east-1.amazonaws.com/instaby/pixel/IBY-send.js'; var sc = document.getElementsByTagName('script')[0]; sc.parentNode.insertBefore(ss, sc);
					})();
				</script>
			{% endif %}

			<!-- BEGIN - Shopback -->
			{% if shop_config('shopback_id') %}
				<script type="text/javascript">
					var _st_account = {{ shop_config('shopback_id') }};
					var _cv_data = {
						'order_id': '{{ order.order_number }}',
						'valor': '{{ order.total|number_format(2, ".", "") }}'
					};
					(function () {
						var ss = document.createElement('script');
						ss.type = 'text/javascript';
						ss.async = true;
						ss.src = '//app.shoptarget.com.br/js/tracking.js';
						var sc = document.getElementsByTagName('script')[0];
						sc.parentNode.insertBefore(ss, sc);
					})();
				</script>
			{% endif %}

			<!-- BEGIN - Rakuten -->
			{% if shop_config('rakuten_marketing_id') %}
				{% set r_sku = '' %} {% set r_name = '' %} {% set r_qty = '' %} {% set r_price = '' %}
				{% for product in order.contents %}
					{% set r_sku = r_sku ~ product.id %}
					{% set r_name = r_name ~ (product.name|e('html')) %}
					{% set r_qty = r_qty ~ product.quantity %}
					{% set r_price = r_price ~ (product.price|number_format(2, ".", "") * product.quantity * 100) %}
					{% if not loop.last %}
						{% set r_sku = r_sku ~ '|' %}
						{% set r_name = r_name ~ '|' %}
						{% set r_qty = r_qty ~  '|' %}
						{% set r_price = r_price ~ '|' %}
					{% endif %}
				{% endfor %}
				<img src="https://track.linksynergy.com/ep?mid={{ shop_config('rakuten_marketing_id') }}&ord={{ order.order_number }}&skulist={{ r_sku }}&qlist={{ r_qty }}&amtlist={{ r_price }}&cur={{ shop_config('currency') }}&img=1&namelist={{ r_name }}">
			{% endif %}
		{% endif %}
	</div>
</div>
