{% extends _layout %}

{% block content %}

<div class="body">
    
  <div id="customer-accounts" class="clearfix side-pad">

    <div id="recover-password">
      <h1 class="title">{{ lang('forgot_password') }}</h1>
      {{ form_open('secure/forgot_password') }}
        <input type="hidden" value="submitted" name="submitted"/>
         
        <input type="email" value="" name="email" id="recover-email" class="input-xlarge" placeholder="{{ lang('email') }}">
        <div class="form-inline">
          <button class="btn" type="submit">{{ lang('reset_password') }}</button>
          <span class="note"><a href="{{ site_url('secure/login') }}">{{ lang('return_to_login') }}</a></span>
        </div>
      {{ form_close() }}
    </div>

  </div>

</div>

{% endblock %}