{% extends _layout %}

{% block content %}

	<div class="body">

		<div id="order" class="clearfix side-pad">

			<h1 class="title">{{ 'Compra realizada com successo!'|trans({'en':'Purchase made with success!'}) }}</h1>
			<h2>{{ 'O número do seu pedido é'|trans({'en':'Your order number is'}) }} #{{ order.order_number }}</h2>
			<p>{{ 'Enviamos os detalhes do seu pedido para'|trans({'en':'We sent the details from your order to'}) }} {{ order.email }}.</p>
			<p><a class="btn" href="{{ site_url('/') }}">{{ lang('form_back') }}</a></p>

		</div>

	</div>

{% endblock %}