{% extends _layout %}

{% block content %}
	<div class="body">
		<div id="page" class="clearfix side-pad">
			<h1 class="title">{{ page.title }}</h1>

			{% if page.slug == 'contato' %}
				{{ form_open('contact/emailsender', '', {'subject': 'Contato - ' ~ (shop_config('company_name') ? shop_config('company_name') : 'Loja Xtech Commerce'), 'referrer': current_url()}) }}
					<div class="form-group">
						<label for="sender_name">{{ 'Nome'|trans({'en':'Name'}) }}</label>
						<input type="text" name="sender_name" value="" class="form-control" />
					</div>
					<div class="form-group">
						<label for="sender_email">{{ 'Email'|trans({'en':'Email'}) }}</label>
						<input type="text" name="sender_email" value="" class="form-control" />
					</div>
					<div class="form-group">
						<label for="message">{{ 'Mensagem'|trans({'en':'Message'}) }}</label>
						<textarea name="message" cols="80" rows="10" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-bck" value="{{ 'ENVIAR'|trans({'en':'SEND'}) }}" />
					</div>
				{{ form_close() }}
				<br>
			{% elseif page.slug in ['blog'] %}
				{% include 'mobile/pages/' ~ page.slug ~ '.html' %}
			{% endif %}

			<div class="description">
				{{ page.content|raw }}
			</div>
		</div>
	</div>

{% endblock %}