{% extends _layout %}

{% block content %}

<div class="body">

	<div id="customer-accounts" class="clearfix side-pad">

		<div id="customer">
			<h1 class="title">{{ lang('create_new_account') }}</h1>

			{% if validation_errors() %}
			<div class="alert">
				{{ validation_errors() }}
			</div>
			{% endif %}

			{{ form_open('secure/register', 'id="customer_register"') }}

				<input type="hidden" value="{{ redirect }}" name="redirect"/>
				<input type="hidden" value="submitted" name="submitted"/>

				{{ form_input({'name': 'email', 'placeholder': lang("address_email"), 'class': 'input-block-level', 'value': set_value('email'), 'autocomplete': 'off'}) }}
				{{ form_input({'name': 'password', 'placeholder': lang("password"), 'class': 'input-block-level', 'value': '', 'autocomplete': 'off', 'type': 'password'}) }}
				{{ form_input({'name': 'confirm', 'placeholder': lang("account_confirm"), 'class': 'input-block-level', 'value': '', 'autocomplete': 'off', 'type': 'password'}) }}

				{{ form_dropdown('sex', {0: 'Masculino'|trans({'en':'Male'}) , 1: 'Feminino'|trans({'en':'Female'}) }, set_value('sex'), 'class="input-block-level"') }}
				{{ form_input({'name': 'firstname', 'placeholder': lang("account_firstname"), 'class': 'input-block-level', 'value': set_value('firstname')}) }}
				{{ form_input({'name': 'lastname', 'placeholder': lang("account_lastname"), 'class': 'input-block-level', 'value': set_value('lastname')}) }}
				{{ form_input({'name': 'phone', 'placeholder': '(21) 12345-1234', 'class': 'input-block-level', 'value': set_value('phone')}) }}
				{{ form_input({'name': 'cpf', 'placeholder': lang("cpf"), 'class': 'input-block-level', 'value': set_value('cpf')}) }}
				{{ form_input({'name': 'birthday', 'placeholder': lang("birthday"), 'class': 'input-block-level', 'value': set_value('birthday')}) }}

				<div class="form-inline btm-margin">
					<button class="btn" type="submit">{{ lang('register') }}</button>
					<span class="note"><a href="{{ site_url('secure/login') }}">{{ lang('form_back') }}</a></span>
				</div>

			{{ form_close() }}
		</div>

	</div>

</div>

{% endblock %}