<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
   <head>
      {{ header_code() }}
      <title>{{ shop_config('company_name') }} | {{ document_title(seo_title|default(page_title)) }}</title>
    
      <!-- CSS -->
      <link href='{{ shop_config('base_http') }}://fonts.googleapis.com/css?family=Ubuntu:300,500' rel='stylesheet' type='text/css'>
      {{ theme_css('bootstrap.min.css', true) }}
      {{ theme_css('animate.min.css', true) }}
      {{ theme_css('animate.delay.css', true) }}
      {{ theme_css('application.css', true) }}
     
      <!-- JS -->
      <script type="text/javascript" src="{{ shop_config('base_http') }}://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="{{ shop_config('base_http') }}://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      {{ theme_js('bootstrap.min.js', true) }}
      {{ theme_js('jquery.maskedinput.js', true) }}
      {{ theme_js('application.js', true) }}
     
     {{ category.meta }}
   </head>
   <body itemscope itemtype="http://schema.org/Organization">
      {% if design_mode %}
         {{ template_navigator() }}
      {% endif %}
      <div id="modal-container" class="modal fade"></div>
      <header>
         <div class="container">
            <div class="row pos-relative">
               <div class="col-xs-12">
                  <h1 id="site-logo" class="text-center" itemprop="name">
                     <a href="{{ base_url() }}">
                       {{ theme_img('logo.png', 'Logo') }}
                     </a>
                  </h1>
               </div>
               <div id="top-navigation">
                  <ul class="list-inline">
                    {% if logged_in %}
                     <li>
                        <a href="{{ site_url('secure/my_account') }}">
                         <i class="glyphicon glyphicon-user"></i> Minha conta
                        </a>
                     </li>
                     <li>|</li>
                     <li>
                       <a href="{{ site_url('secure/logout') }}">
                        <i class="glyphicon glyphicon-off"></i> Sair
                       </a>
                     </li>
                    {% else %}
                     <li>
                        <a href="{{ site_url('secure/login') }}">
                        Acessar sua conta
                        </a>
                     </li>
                    {% endif %}
                     <li>|</li>
                     <li>
                        <a href="{{ site_url('cart/view_cart') }}">
                        ({{ items_in_cart() }}) Carrinho
                        &nbsp;
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        </a>
                     </li>
                  </ul>
               </div>
               <div id="top-search">
                  <div class="pos-relative">
                     <!-- Pesquisa -->
                      {{ form_open('cart/search', 'id="form-search"') }}
                        <div class="input-group">
                           <input type="text" name="term" id="search-engine" class="form-control" placeholder="O que você procura?" autocomplete="off" />
                           <span class="input-group-btn">
                           <button class="btn btn-default" type="button">
                           <i class="glyphicon glyphicon-search"></i>
                           </button>
                           </span>
                        </div>
                        <!-- Carregando -->
                        <div id="search-loader">{{ theme_img('ajax-loader.gif', 'Carregando') }}</div>
                        <!-- Resultados da pesquisa -->
                        <div id="search-results">
                           <div class="text-center">
                              <i class="glyphicon glyphicon-eject"></i>
                           </div>
                           <div id="search-results-in"></div>
                        </div>
                     {{ form_close() }}
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- Menu Top -->
      <section id="main-menu">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <nav class="navbar navbar-default" role="navigation">
                     <ul class="nav navbar-nav">
                      {% for cat in categories %}
                         {% if cat.category.slug != 'home' %}
                         <li class="{{ cat.category.id == category.id ? 'active' : '' }}{{ cat.category.slug == 'sale' ? 'sale' : '' }}"><a href="{{ site_url(cat.category.slug) }}">{{ cat.category.name }}</a></li>
                         {% endif %}
                      {% else %}
                          Não há categorias.
                      {% endfor %}
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </section>
      {% if homepage %}
      <!-- Banner Principal -->
      <section id="main-banner">
         <div class="container">
            <div id="carousel-default" class="carousel slide" data-ride="carousel">
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                  {% for banner in banners %}
                  <div class="item{{ loop.first ? ' active' : '' }}">
                     {{ linked_banner(banner) }}
                  </div>
                  {% endfor %}
               </div>
               <!-- Controls -->
               <a class="left carousel-control" href="#carousel-default" data-slide="prev">
                   <span class="glyphicon glyphicon-chevron-left"></span>
               </a>
               <a class="right carousel-control" href="#carousel-default" data-slide="next">
                 <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </div>
         </div>
      </section>
      {% endif %}
      <section id="store-content">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  {% if flashdata.error %}
                  <div class="alert alert-danger">{{ flashdata.error }}</div>
                  {% endif %}
                  {% if flashdata.message %}
                  <div class="alert alert-info">{{ flashdata.message }}</div>
                  {% endif %}

                  {% block content %}

                  {% endblock %}
               </div>
            </div>
         </div>
      </section>
      <footer>
         <div class="container content">
            <div class="row">
               <div class="col-xs-3">
                  <h4>Institucional</h4>
                  <ul>
                    {% for page in get_children_of_page('institucional') %}
                     <li>
                       <a href="{{ site_url(page.slug) }}">{{ page.title }}</a>
                     </li>
                    {% endfor %}
                  </ul>
               </div>
               <div class="col-xs-3">
                  <h4>Ajuda</h4>
                  <ul>
                    {% for page in get_children_of_page('ajuda-e-suporte') %}
                     <li>
                       <a href="{{ site_url(page.slug) }}">{{ page.title }}</a>
                     </li>
                    {% endfor %}
                  </ul>
               </div>
               <div class="col-xs-6">
                  <div class="row">
                     <div class="col-xs-8">
                        <h4>Forma de Pagamento</h4>
                        <ul class="list-inline">
                           <li>
                              {{ theme_img('f-boleto.png', 'Boleto') }}
                           </li>
                           <li>
                              {{ theme_img('f-mastercard.png', 'Mastercard') }}
                           </li>
                           <li>
                              {{ theme_img('f-visa.png', 'Visa') }}
                           </li>
                           <li>
                              {{ theme_img('f-pagseguro.png', 'Pagseguro') }}
                           </li>
                        </ul>
                     </div>
                     <div class="col-xs-4">
                        <h4>Nas Redes Sociais</h4>
                        <ul class="list-inline">
                           <li>
                              <a href="https://www.facebook.com/NotAShoe" target="_blank">
                                {{ theme_img('icone-facebook.png', 'Facebook') }}
                              </a>
                           </li>
                           <li>
                              <a href="http://instagram.com/notashoe" target="_blank">
                                {{ theme_img('icone-instagram.png', 'Instagram') }}
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="row margin-top">
                     <div class="col-xs-12 margin-top">
                        {{ form_open('contact/newsletter_signup') }}
                           <table class="tbl-newsletter pull-right">
                              <tr>
                                 <td>
                                    <label for="newsletter">Assine nossa newsletter</label>
                                 </td>
                                 <td>
                                    <div class="input-group">
                                       <input type="text" name="email" id="newsletter" placeholder="Insira seu e-mail" class="form-control" />
                                       <span class="input-group-btn">
                                       <button type="submit" class="btn btn-bck">
                                       Enviar
                                       </button>
                                       </span>
                                    </div>
                                 </td>
                              </tr>
                           </table>
                        {{ form_close() }}
                     </div>
                  </div>
               </div>
            </div>
            <div class="row margin-top">
               <div class="col-xs-12 margin-top">
                  <small class="pull-right color3">
                    CNPJ: {{ shop_config('cnpj') }} | Razão Social: {{ shop_config('company_registration') }} | 
                    Endereço: {{ shop_config('address1') }} {{ shop_config('address2') }} {{ shop_config('district') }} {{ shop_config('city') }} {{ shop_config('state') }}
                  </small>
               </div>
            </div>
         </div>
         <div class="bottom">
            <div class="container">
               <div class="row">
                  <div class="col-xs-4">
                     <small>
                     &copy; {{ shop_config('company_name') }} 2013 | Todos os direitos Reservados.
                     </small>
                  </div>
                  <div class="col-xs-6 text-center">
                     <small>
                     Designed by 
                     <a href="http://marketingshop.com.br" target="_blank">{{ theme_img('marketingshop.png', 'Marketingshop') }}</a>
                     |
                     Powered by
                     <a href="#">{{ theme_img('xtech.png', 'Xtech') }}</a>
                     </small>
                  </div>
                  <div class="col-xs-2">
                     <small class="pull-right">
                       {{ theme_img('f_site_seguro.png', 'Site seguro') }}            
                     </small>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>
