<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">
        {{ lang('name') }}
      </th>
      <th style="width: 15%;">
        {{ lang('price') }}
      </th>
      <th style="width: 12%;">
        {{ lang('quantity') }}
      </th>
      <th style="width: 15%;">
        {{ lang('totals') }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for cartkey, product in cart('contents') %}
      <tr>
        <td width="7%" class="cart-product-img">{{ product_img(product, 'thumbnails', {'width': 78}) }}</td>
        <td>
          <strong>{{ product.name }}{{ product.sku ? ' (' ~ product.sku ~ ')' : '' }}</strong>
          {% for name, value in product.options %}
            <div>
              {{ name }}: {{ value }}
            </div>
          {% endfor %}
        </td>
        <td>
          {% if product.base_price > product.price %}
            <div class="strike"><strike>{{ product.base_price|format_currency }}</strike></div>
            <span class="sale">{{ product.price|format_currency }}</span>
          {% else %}
            <span class="normal">{{ product.price|format_currency }}</span>
          {% endif %}
        </td>
        <td>
          <div class="control-group">
            <div class="controls">
              <div class="input-group">
                <input class="form-control" name="cartkey[{{ cartkey }}]" value="{{ product.quantity }}" style="width: 50%;" type="text"{{ product.fixed_quantity ? ' readonly="true"' : '' }} />
                <button class="btn btn-danger" type="button" onclick="if(confirm('{{ lang('remove_item') }}')){ window.location='{{ site_url('cart/remove_item/' ~ cartkey) }}'; }">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>
          </div>
          {% if not product.fixed_quantity %}
            <a class="alter_qty" href="#" onclick="$(this).parents('form:first').submit(); return false;">
              {{ lang('form_change') }}
            </a>
          {% endif %}
        </td>
        <td>
          {{ (product.price * product.quantity)|format_currency }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    {% if cart('group_discount') > 0 %}
      <tr>
        <td colspan="4" class="text-right">
          <strong>
            {{ lang('group_discount') }}
          </strong>
        </td>
        <td>
          {{ (0 - cart('group_discount'))|format_currency }}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="4" class="text-right">
        <strong>
          {{ lang('subtotal') }}
        </strong>
      </td>
      <td>
        {{ cart('subtotal')|format_currency }}
      </td>
    </tr>

    {% if cart('coupon_discount') > 0 %}
      <tr>
        <td colspan="4" class="text-right">
          <strong>
            {{ lang('coupon_discount') }}
          </strong>
        </td>
        <td>
          -{{ cart('coupon_discount')|format_currency }}
        </td>
      </tr>

      {% if cart('order_tax') > 0 %}
        <tr>
          <td colspan="4" class="text-right">
            <strong>
              {{ lang('discounted_subtotal') }}
            </strong>
          </td>
          <td>
            {{ cart('discounted_subtotal')|format_currency }}
          </td>
        </tr>
      {% endif %}

    {% endif %}

    {% if cart('get_custom_charges')|count > 0 %}
      {% for name, price in cart('get_custom_charges') %}
        <tr>
          <td colspan="4" class="text-right">
            <strong>
              {{ name }}
            </strong>
          </td>
          <td>
            {{ (price)|format_currency }}
          </td>
        </tr>
      {% endfor %}
    {% endif %}

    {% if shop_config('tax_shipping') and cart('shipping_cost') > 0 %}
      <tr>
        <td colspan="4" class="text-right">
          <strong>
            {{ lang('shipping') }}
          </strong>
        </td>
        <td>
          {{ cart('shipping_cost')|format_currency }}
        </td>
      </tr>
    {% endif %}

    {% if cart('order_tax') > 0 %}
      <tr>
        <td colspan="4" class="text-right">
          <strong>
            {{ lang('total_before_tax') }}
          </strong>
        </td>
        <td>
          {{ cart('total_before_tax')|format_currency }}
        </td>
      </tr>
    {% endif %}

    {% if cart('order_tax') > 0 %}
      <tr>
        <td colspan="4" class="text-right">
          <strong>
            {{ lang('tax') }} ({{ shop_config('default_tax') }} %)
          </strong>
        </td>
        <td>
          {{ cart('order_tax')|format_currency }}
        </td>
      </tr>
    {% endif %}

    {% if not shop_config('tax_shipping') and cart('shipping_cost') > 0 %}
      <tr>
        <td colspan="4" class="text-right">
          <strong>
            {{ lang('shipping') }}
          </strong>
        </td>
        <td>
          {{ cart('shipping_cost')|format_currency }}
        </td>
      </tr>
    {% endif %}

    {% if cart('gift_card_discount') > 0 %}
      <tr>
        <td colspan="4" class="text-right">
          <strong>
            {{ lang('gift_card_discount') }}
          </strong>
        </td>
        <td>
          -{{ cart('gift_card_discount')|format_currency }}
        </td>
      </tr>
    {% endif %}

    <tr>
      <td colspan="4" class="text-right">
        <strong>
          {{ lang('grand_total') }}
        </strong>
      </td>
      <td>
        {{ cart('total')|format_currency }}
      </td>
    </tr>
  </tfoot>
</table>
</div>