<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {{ header_code() }}

    <title>{{ shop_config('company_name') }} | {{ document_title(seo_title) }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="icon" href="{{ favicon_link }}">
    <link rel="apple-touch-icon" href="{{ favicon_link }}">

	<link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile_new/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile_new/assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile_new/assets/css/flexslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile_new/assets/css/application.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ base_url('loja/twig/mobile_new/assets/css/overrides.css') }}">

    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/jquery-migrate.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/jquery.maskedinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/jquery.meanmenu.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/imgLiquid-min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/cpf.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('loja/twig/mobile_new/assets/js/application.js') }}"></script>

    {% block head_script %}
    {% endblock %}
</head>

<body class="loading vertical" itemscope itemtype="http://schema.org/Organization">
	{% if design_mode %}
	{{ template_navigator() }}
	{% endif %}

	{{ body_code() }}

	<div class="wrapper">
		<!-- Alerts -->
		<section id="flash">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						{% if flashdata.error %}
						<div class="alert alert-danger">
							{{ flashdata.error }}
							<a class="close-alert">{{'fechar'|trans({'en':'close'})}}</a>
						</div>
						{% endif %}

						{% if flashdata.message %}
						<div class="alert alert-info">
							{{ flashdata.message }}
							<a class="close-alert">{{'fechar'|trans({'en':'close'})}}</a>
						</div>
						{% endif %}

						{% if error %}
						<div class="alert alert-danger">
							{{ error }}
							<a class="close-alert">{{'fechar'|trans({'en':'close'})}}</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</section>

		<div id="modal-container" class="modal fade"></div>

		{# HEADER #}
		{% include 'mobile_new/main_menu.html' %}
		{% include 'mobile_new/header.html' %}

        {# BANNER #}
        {% block banner %}
        {% endblock %}

        {# CONTENT #}
        <section id="store-content">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>

		{# FOOTER #}
		{% include 'mobile_new/footer.html' %}
	</div>
</body>
</html>
