<div class="myaccount row">
    {% if validation_errors() %}
    <div class="col-md-12">
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ validation_errors() }}
      </div>
    </div>
    {% endif %}
    <div class="col-md-3 tabbable">
        <ul id="mytabs" class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#dashboard" data-toggle="tab">
                    <i class="glyphicon glyphicon-home"></i>
                    {{ 'Painel Principal'|trans({'en': 'Dashboard'}) }}
                </a>
            </li>
            <li>
                <a href="#myaccount" data-toggle="tab">
                    <i class="glyphicon glyphicon-user"></i>
                    {{ 'Dados Pessoais'|trans({'en': 'Account'}) }}
                </a>
            </li>
            <li>
                <a href="#addresses" data-toggle="tab">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    {{ 'Endereços'|trans({'en': 'Addresses'}) }}
                </a>
            </li>
            <li>
                <a href="#myorders" data-toggle="tab">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    {{ 'Histórico de Pedidos'|trans({'en': 'Orders'}) }}
                </a>
            </li>
            <li>
                <a href="#mytestimonials" data-toggle="tab">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    {{ 'Depoimentos'|trans({'en': 'Testimonials'}) }}
                </a>
            </li>
            <li>
                <a href="#mywishlist" data-toggle="tab">
                    <i class="glyphicon glyphicon-heart"></i>
                    {{ 'Lista de desejos'|trans({'en': 'Wishlist'}) }}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="dashboard">
                <h1 class="page-title">{{ 'Painel Principal'|trans({'en': 'Dashboard'}) }}</h1>
                <p>
                    {{ 'No Painel Principal você pode visualizar um resumo das atividades da sua conta mais recentes e atualizar 
                    suas informações de conta. Selecione um link abaixo para visualizar ou editar informações.'|trans({'en': 'Dashboard'}) }}
                </p>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <h4>
                            <a href="#" id="edit_account" class="btn pull-right">
                                {{ 'Editar'|trans({'en': 'Edit'}) }}
                            </a>
                            {{ 'Informações da Conta'|trans({'en': 'Account information'}) }}
                        </h4>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {% if customer.cnpj %}
                                    {{ customer.company }}<br />
                                {% else %}
                                    {{ customer.firstname }}
                                    {{ customer.lastname }}<br />
                                {% endif %}
                                {{ customer.email }}<br />
                                {{ customer.phone }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>
                            <span class="btn-group pull-right">
                                <a href="#" id="list_all" class="btn">
                                    {{ 'Listar Todos'|trans({'en': 'List all'}) }}
                                </a>
                            </span>
                            {{ 'Endereço Principal'|trans({'en': 'Default address'}) }}
                        </h4>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {% if default_address %}
                                    {{ default_address.field_data|format_address_nl2br }}
                                {% else %}
                                    {{ 'Não há endereço ainda.'|trans({'en': 'No address.'}) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="myaccount">
                <h1 class="page-title">{{ 'Dados Pessoais'|trans({'en': 'Account'}) }}</h1>
                {{ form_open('secure/my_account', 'class="form-horizontal"') }}
                    <!-- Dados para acesso -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="glyphicon glyphicon-asterisk"></i>
                                {{ 'Dados para acesso'|trans({'en': 'Account'}) }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ 'Se você não quiser alterar sua senha, deixar os campos em branco.'|trans({'en': 'Leave the password blank if you don´t want to change it.'}) }}</p>
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">
                                    {{ 'E-mail'|trans({'en': 'E-mail'}) }}
                                    <sup>*</sup>
                                </label>
                                <div class="col-sm-5">
                                    {{ form_input({'name': 'email', 'placeholder': 'E-mail'|trans({'en': 'E-mail'}), 'class': 'form-control', 'value': set_value('email', customer.email), 'autocomplete': 'off'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">
                                    {{ 'Senha'|trans({'en': 'Password'}) }}
                                </label>
                                <div class="col-sm-5">
                                    {{ form_input({'name': 'password', 'type': 'password', 'placeholder': 'Senha'|trans({'en': 'Password'}), 'class': 'form-control', 'value': '', 'autocomplete': 'off'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm" class="col-sm-3 control-label">
                                    {{ 'Confirme'|trans({'en': 'Confirm'}) }}
                                </label>
                                <div class="col-sm-5">
                                    {{ form_input({'name': 'confirm', 'type': 'password', 'placeholder': 'Confirmar senha'|trans({'en': 'Confirm password'}), 'class': 'form-control', 'value': '', 'autocomplete': 'off'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="glyphicon glyphicon-bookmark"></i>
                                {{ 'Dados pessoais'|trans({'en': 'Personal information'}) }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            {% if customer.cnpj %}
                                <div class="form-group">
                                    <label for="cnpj" class="col-sm-3 control-label">
                                        {{ 'CNPJ'|trans({'en': 'CNPJ'}) }}
                                        <sup>*</sup>
                                    </label>
                                    <div class="col-sm-5">
                                        {{ form_input({'name': 'cnpj', 'placeholder': 'CNPJ'|trans({'en': 'CNPJ'}), 'class': 'form-control', 'value': set_value('cnpj', customer.cnpj)}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="company" class="col-sm-3 control-label">
                                        {{ 'Empresa'|trans({'en': 'Company'}) }}
                                        <sup>*</sup>
                                    </label>
                                    <div class="col-sm-5">
                                        {{ form_input({'name': 'company', 'placeholder': 'Empresa'|trans({'en': 'Company'}), 'class': 'form-control', 'value': set_value('company', customer.company)}) }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="firstname" class="col-sm-3 control-label">
                                        {{ 'Nome'|trans({'en': 'Firstname'}) }}
                                        <sup>*</sup>
                                    </label>
                                    <div class="col-sm-5">
                                        {{ form_input({'name': 'firstname', 'placeholder': 'Nome'|trans({'en': 'Firstname'}), 'class': 'form-control', 'value': set_value('firstname', customer.firstname)}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-sm-3 control-label">
                                        {{ 'Sobrenome'|trans({'en': 'Lastname'}) }}
                                        <sup>*</sup>
                                    </label>
                                    <div class="col-sm-5">
                                        {{ form_input({'name': 'lastname', 'placeholder': 'Sobrenome'|trans({'en': 'Lastname'}), 'class': 'form-control', 'value': set_value('lastname', customer.lastname)}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cpf" class="col-sm-3 control-label">
                                        {{ 'CPF'|trans({'en': 'CPF'}) }}
                                        <sup>*</sup>
                                    </label>
                                    <div class="col-sm-5">
                                        {{ form_input({'name': 'cpf', 'placeholder': 'CPF'|trans({'en': 'CPF'}), 'class': 'form-control', 'value': set_value('cpf', customer.cpf)}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sex" class="col-sm-3 control-label">
                                        {{ 'Sexo'|trans({'en': 'Gender'}) }}
                                    </label>
                                    <div class="col-sm-5">
                                        {{ form_dropdown('sex', {0: 'Masculino'|trans({'en': 'Men'}), 1: 'Feminino'|trans({'en': 'Woman'})}, set_value('sex', customer.sex), 'class="form-control"') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birthday" class="col-sm-3 control-label">
                                        {{ 'Data de Nascimento'|trans({'en': 'Birthday'}) }}
                                    </label>
                                    <div class="col-sm-5">
                                        {{ form_input({'name': 'birthday', 'placeholder': 'Data de Nascimento'|trans({'en': 'Birthday'}), 'class': 'form-control', 'value': set_value('birthday', customer.birthday|to_formated_date)}) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="telephone" class="col-sm-3 control-label">
                                    {{ 'Telefone'|trans({'en': 'Phone'}) }}
                                    <sup>*</sup>
                                </label>
                                <div class="col-sm-5">
                                    {{ form_input({'name': 'phone', 'placeholder': 'Telefone'|trans({'en': 'Phone'}), 'class': 'form-control', 'value': set_value('phone', customer.phone)}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <label>
                                    <input type="checkbox" name="email_subscribe" value="1" {{ set_radio('email_subscribe', '1', true) }} />
                                    Deseja receber nossa newsletter?
                                </label>
                                <br />
                                <small>(Não compartilhamos seu email com terceiros)</small>
                            </div>
                            <div class="pull-right">
                                * Campos obrigatórios
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <input type="submit" value="ATUALIZAR" class="btn btn-primary btn-bck" />
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="addresses">
                <div class="row">
                    <h1 class="col-sm-9 page-title">Endereços</h1>
                    <div class="col-sm-3 margin-top">
                        <input type="button" class="btn btn-link edit_address pull-right" rel="0" value="{{ lang('add_address') }}" />
                    </div>
                </div>
                {% if addresses|count > 0 %}
                    <table class="table table-striped">
                        {% for address in addresses %}
                            <tr id="address_{{ address.id }}">
                                <td>
                                    {{ address.field_data|format_address_nl2br }}
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="btn-group pull-right">
                                                <input type="button" class="btn btn-default edit_address" rel="{{ address.id }}" value="{{ lang('form_edit') }}" />
                                                <input type="button" class="btn btn-danger delete_address" rel="{{ address.id }}" value="{{ lang('form_delete') }}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pull-right" style="padding-top: 10px;">
                                                <input type="radio" name="ship_chk" onclick="set_default({{ address.id }},'ship')" {{ default_address.id == address.id ? 'checked="checked"' : '' }}/>
                                                {{ lang('default_shipping') }}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    {{ lang('no_addresses') }}
                {% endif %}
            </div>
            <div class="tab-pane" id="myorders">
                <h1 class="page-title">Histórico de Pedidos</h1>
                {% if orders|count > 0 %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ lang('order_date') }}</th>
                                <th>{{ lang('order_number') }}</th>
                                <th>{{ lang('order_status') }}</th>
                                <th>Refazer Pedido?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        {{ order.ordered_on|to_formated_date('date_format_long') }}
                                    </td>
                                    <td>
                                        <a href="{{ site_url('secure/order/' ~ order.order_number) }}">
                                            {{ order.order_number }}
                                        </a>
                                    </td>
                                    <td>
                                        <span class="label {{ order.status|get_status_label }}">{{ order.status|translate_order_status }}</span>
                                    </td>
                                    <td>
                                        <a href="{{ site_url('secure/duplicate_cart/' ~ order.order_number) }}" class="btn btn-sm btn-success">
                                            Refazer
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {{ lang('no_order_history') }}
                {% endif %}
            </div>
            <div class="tab-pane" id="mytestimonials">
                <h1 class="page-title">Depoimentos</h1>
                {% for product in purchased_products %}
                    {{ form_open('testimonials/create', {'class': 'testimonial-form'}) }}
                        <div class="row rating-product">
                            <div class="col-md-3">
                                {{ product_img(product, 'thumbnails', {'class': 'thumbnail'}) }}
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Quantas estrelas dá para '{{ product.name }}'?</label>
                                    <ul class="rating-list list-unstyled">
                                        <li>
                                            <div class="pull-left rating-stars" data-name="rating_look"></div>
                                            Beleza do produto
                                        </li>
                                        <li>
                                            <div class="pull-left rating-stars" data-name="rating_usability"></div>
                                            Usabilidade do produto</li>
                                        <li>
                                            <div class="pull-left rating-stars" data-name="rating_support"></div>
                                            Atendimento e segurança na compra
                                        </li>
                                    </ul>
                                </div>
                                <label for="message">Comentário</label>
                                {{ form_textarea({'name': 'message', 'class': 'form-control', 'rows': '5'}) }}
                                <p class="help-block">Comente sobre o produto, o design, a usabilidade, as primeiras impressões ao abrir a caixa, a entrega, o atendimento...</p>
                        
                                {{ form_hidden('sender_email', customer.email)  }}
                                {{ form_hidden('customer_id', customer.id)  }}
                                {{ form_hidden('referrer', site_url('secure/my_account?tab=mytestimonials'))  }}
                                {{ form_hidden('subject', 'Depoimento')  }}
                                {{ form_hidden('sender_name',  customer.firstname) }}
                                {{ form_hidden('product_id',  product.id) }}
                                
                                <input type="submit" name="submit" value="Enviar" class="btn btn-primary" />
                            </div>
                        </div>
                        <hr>
                    {{ form_close() }}
                {% else %}
                Não há produtos novos.
                {% endfor %}

                <script type="text/javascript" src="{{ base_url('assets/js/jquery.raty.js') }}"></script>
                <script type="text/javascript">
                $(document).ready(function(){
                    $('.rating-stars').each(function(){
                        var name = $(this).data('name');
                        $(this).raty({path: '/assets/img', scoreName: name});
                    });
                    $('.testimonial-form').submit(function(e){
                        if ($('textarea[name=message]').val() != '' && $('input[name=rating_look]').val()>0 && $('input[name=rating_usability]').val()>0 && $('input[name=rating_support]').val()>0) {
                            return true;
                        }else{
                            e.preventDefault();
                            alert('Por favor coloque um comentario e dá estrelas antes de enviar.');
                            return false; 
                        };
                    });
                });
                </script>
            </div>
            <div class="tab-pane" id="mywishlist">
                <h1 class="page-title">Lista de desejos</h1>
                {% for product in wishes %}
                    <div class="row rating-product">
                        <div class="col-md-3">
                            {{ product_img(product, 'thumbnails', {'class': 'thumbnail'}) }}
                        </div>
                        <div class="col-md-9">
                            <h4>{{ product.name }}</h4>
                            <strong class="buy-price">
                                {{ (product.saleprice > 0 ? '<del class="slash">' ~ product.price|format_currency ~ '</del>' : '')|raw }}
                                <span class="sale">{{ (product.saleprice > 0 ? product.saleprice : product.price)|format_currency }}</span>
                            </strong>
                            <p class="buy-fields">
                                {{ form_open('cart/add_to_cart', '', {'cartkey': cart('cartkey'), 'id': product.id, 'variant_id': product.variant_id}) }}
                                <button class="btn btn-primary buy-btn" type="submit" value="submit"><i class="glyphicon glyphicon-shopping-cart"></i> Comprar agora</button> ou <a href="{{ site_url('secure/removewish/' ~ product.id ~ '/' ~ product.variant_id) }}">excluir</a>
                                {{ form_close() }}
                            </p>
                        </div>
                    </div>
                    <hr>
                {% else %}
                Não há desejos na sua lista.
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
<!--
    $(document).ready(function(){
        $('#mytabs a').click(function(e){
            e.preventDefault();
            $(this).tab('show');
        });
        {% if tab %}
            $('#mytabs a[href="#{{ tab }}"]').tab('show');
        {% endif %}
        $('#list_all').click(function(e){
            e.preventDefault();
            $('#mytabs a[href="#addresses"]').tab('show');
        });
        $('#edit_account').click(function(e){
            e.preventDefault();
            $('#mytabs a[href="#myaccount"]').tab('show');
        });
        $('input[name=phone]').mask_brazilian_phone();
        $('input[name=cpf]').mask('999.999.999-99');
        $('input[name=birthday]').mask('99/99/9999');
        $('.delete_address').click(function(){
            if($('.delete_address').length > 1){
                if(confirm('{{ lang('delete_address_confirmation') }}')){
                    $.post("{{ site_url('secure/delete_address') }}", { id: $(this).attr('rel') },
                    function(data){
                        $('#address_'+data).remove();
                    });
                }
            } else{
                alert('{{ lang('error_must_have_address') }}');
            }   
        });
        $('.edit_address').click(function(e){
            e.preventDefault();
            $.post('{{ site_url('secure/address_form') }}/' + $(this).attr('rel'),
                function(data){
                    $('#modal-container').html(data).modal('show');
                }
            );
        });
        function set_default(address_id, type){
            $.post('{{ site_url('secure/set_default_address') }}/',{id:address_id, type:type});
        }
    });
//-->
</script>