<h1 class="page-title">{{ lang('create_new_account') }}</h1>
<div class="row">
	<div class="col-lg-12">
		{% if validation_errors() and set_value('new') != 'new' %}
		  <div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ validation_errors() }}
		  </div>
		{% endif %}
		{{ form_open('secure/register', 'class="form-horizontal"', {'redirect': redirect, 'submitted': 'submitted'}) }}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="glyphicon glyphicon-asterisk"></i>
						{{ lang('account_data') }}
					</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="email" class="col-md-3 control-label">	
							{{ lang('address_email') }}
							<sup>*</sup>
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'email', 'placeholder': lang('address_email'), 'class': 'form-control', 'value': set_value('email'), 'autocomplete': 'off'}) }}
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">
							{{ lang('password') }}
							<sup>*</sup>
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'password', 'placeholder': lang('your_password'), 'class': 'form-control', 'value': '', 'autocomplete': 'off', 'type': 'password'}) }}
						</div>
					</div>
					<div class="form-group">
						<label for="confirm" class="col-md-3 control-label">
							{{ lang('account_confirm') }}
							<sup>*</sup>
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'confirm', 'placeholder': lang('account_confirm'), 'class': 'form-control', 'value': '', 'autocomplete': 'off', 'type': 'password'}) }}
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="glyphicon glyphicon-bookmark"></i>
						{{ lang('personal_info') }}
					</h3>
				</div>
				<div class="panel-body">

					{% if shop_config('company_fields') %}
						<button class="btn btn-default" id="company_fields_btn" type="button">
							{{ lang('account_iam') }} {{ lang('account_am_company') }}
						</button>
						<button class="btn btn-default" id="person_fields_btn" type="button" style="display: none;">
							{{ lang('account_iam') }} {{ lang('account_am_person') }}
						</button>
						<hr>
					{% endif %}

					<div class="form-group is_company" style="display: none;">
						<label for="cnpj" class="col-md-3 control-label ">
							{{ lang('account_cnpj') }}
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'cnpj', 'placeholder': '00.000.000/0000-00', 'class': 'form-control', 'value': set_value('cnpj')}) }}
						</div>
					</div>
					<div class="form-group is_company"  style="display: none;">
						<label for="company" class="col-md-3 control-label">
							{{ lang('account_company') }}
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'company', 'placeholder': lang('account_company'), 'class': 'form-control', 'value': set_value('company')}) }}
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-md-3 control-label">
							{{ lang('account_firstname') }}
							<sup>*</sup>
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'firstname', 'placeholder': lang('account_firstname'), 'class': 'form-control', 'value': set_value('firstname')}) }}
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-md-3 control-label">
							{{ lang('account_lastname') }}
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'lastname', 'placeholder': lang('account_lastname'), 'class': 'form-control', 'value': set_value('lastname')}) }}
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-md-3 control-label">			
							{{ lang('account_phone') }}
							<sup>*</sup>
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'phone', 'placeholder': '(21) 12345-1234', 'class': 'form-control', 'value': set_value('phone')}) }}
						</div>
					</div>
					<div class="form-group">
						<label for="cpf" class="col-md-3 control-label">
							{{ lang('account_cpf') }}
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'cpf', 'placeholder': '000.000.000-00', 'class': 'form-control', 'value': set_value('cpf')}) }}
						</div>
					</div>
					<div class="form-group">
						<label for="sex" class="col-md-3 control-label">
							{{ lang('account_sex') }}
						</label>
						<div class="col-md-5">
							{{ form_dropdown('sex', {0: lang('account_sex_m'), 1: lang('account_sex_w')}, set_value('sex'), 'class="form-control"') }}
						</div>
					</div>
					<div class="form-group">
						<label for="birthday" class="col-md-3 control-label">
							{{ lang('account_birthday') }}
						</label>
						<div class="col-md-5">
							{{ form_input({'name': 'birthday', 'placeholder': '00/00/0000', 'class': 'form-control', 'value': set_value('birthday')}) }}
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<div class="pull-left">
						<label>
							<input type="checkbox" name="email_subscribe" value="1" checked="checked" />
							{{ lang('want_to_receive_newsletter') }}
						</label>
						<br />
						<small>{{ lang('want_to_receive_newsletter_hint') }}</small>
					</div>
					<div class="pull-right">
						* {{ lang('required_fields') }}
					</div>
				</div>
			</div>
			<div class="pull-right">
				<a href="{{ site_url('secure/login') }}" class="btn btn-default">
					<i class="glyphicon glyphicon-chevronl-eft"></i>
					{{ lang('form_back') }}
				</a>
				<input type="submit" value="{{ lang('register') }}" class="btn btn-primary btn-bck" />
			</div>
		{{ form_close() }}
		<script type="text/javascript">
		<!--
			$(document).ready(function(){
				$('input[name=phone]').mask_brazilian_phone();
				$('input[name=cpf]').mask('999.999.999-99');
				$('input[name=cnpj]').mask('99.999.999/9999-99');
				$('input[name=birthday]').mask('99/99/9999');

				if ($('input[name=cnpj]').val().length > 0) {
					show_company();		
				}

				$('#company_fields_btn').click(function(){
					show_company();
				});

				$('#person_fields_btn').click(function(){
					$('.is_company').hide();
					$('#person_fields_btn').hide();
					$('#company_fields_btn').show();
				});
			});

			var show_company = function() {
				$('.is_company').show();

				$('input[name=cnpj]').val('');
				$('input[name=company]').val('');

				$('#company_fields_btn').hide();
				$('#person_fields_btn').show();
			}
		//-->
		</script>
	</div>
</div>