<ol class="breadcrumb">
  <li><a href="{{ site_url() }}">{{lang('home_breadcrumb')}}</a></li>
  {% for path in base_url %}
  
    {% set path_title = '' %}
    {% for category in categories_flatten %}
        {% if category.slug == path %}
            {% set path_title = category.name %}
        {% endif %}
    {% endfor %}

    {% if loop.last %}
        <li class="active">{{ product.slug == path ? product.name : path_title }}</li>
    {% else %}
        <li><a href="{{ site_url(path) }}">{{ path_title }}</a></li>
    {% endif %}

  {% endfor %}
</ol>