{% extends _layout %}

{% block content %}

<div id="product" itemscope="" itemtype="http://schema.org/Product">

    {% include 'breadcrumbs.html' %}
    <div class="row">
        <div class="col-md-7">
            <div class="row buffer-bottom-md">
                <div class="col-xs-2">
                    <div class="carousel-thumbs">
                    {% for image in look.images %}
                        <a href="#" class="thumbnail" data-target="#product-carousel" data-slide-to="{{ loop.index - 1 }}">{{ product_img(image, 'thumbnails') }}</a>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-xs-10">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">

                      <div class="carousel-inner">
                        {% for image in look.images %}
                          <div class="item {{ loop.first ? 'active' : 'passive' }}">
                            {{ product_img(image, 'medium') }}
                          </div>
                        {% endfor %}
                      </div>
                      <ul class="share-this buffer-top-sm list-unstyled">
                        <li class="pinterest">
                            <a href="http://pinterest.com/pin/create/button/?url={{ current_url() }}&media={{ product_img(look, 'medium', {'only_link': true}) }}&description={{ product.name }}" class="pin-it-button" count-layout="none">Pin It</a>
                            <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
                        </li>
                        <li class="twitter">
                            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ current_url() }}" data-count="none" data-via="">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                        </li>
                        <li class="facebook">
                            <iframe src="//www.facebook.com/plugins/like.php?href={{ current_url() }}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=295078817182075" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
                        </li>
                      </ul>

                      <a class="left carousel-control" href="#product-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#product-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="buffer-left-md">
                <h1 class="buffer-top-no" itemprop="name">{{ look.name }}</h1>

                {% if look.excerpt %}
                    <p itemprop="description">
                        {{ look.excerpt }}
                    </p>
                {% endif %}

                
                {{ form_open('cart/add_to_cart', '', {'look': look.id}) }}
                {{ global_js('product-variants.js', true) }}
                {% for product in look.products %}
                    <div class="well">
                    <div class="row lookitem" id="lookitem-{{ product.id }}">
                        <div class="col-md-4">
                            {{ product_img(product, 'thumbnails', {'class': 'thumbnail'}) }}
                        </div>
                        <div class="col-md-8">
                            <label>
                                {{ form_input({'name': 'product[' ~ product.id ~ '][variant_id]', 'value': '', 'type': 'hidden', 'id': 'lookitem-variant-' ~ product.id}) }}
                                {{ form_input({'name': 'product[' ~ product.id ~ '][id]', 'value': product.id, 'type': 'checkbox', 'checked': 'checked'}) }} {{ product.name }}
                            </label>
                            <div class="options clearfix">
                                <div class="variants-wrapper clearfix form-group">
                                    {{ variation_select(product, {'exclude_js': true}) }}
                                    <script type="text/javascript">
                                        $(document).ready(function(){
                                            var productvariants_settings = productvariants_settings_{{ product.id }};
                                            productvariants_settings.container = '#lookitem-{{ product.id }}';
                                            productvariants_settings.customInput = '#lookitem-variant-{{ product.id }}';
                                            var productvariants_{{ product.id }} = new ProductVariants('#product-variants-{{ product.id }}', productvariants_settings);
                                        });
                                    </script>
                                </div>
                                <div class="price">
                                    <span class="buy-message hide pull-right"></span>
                                    {{ product.price|format_currency }}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}


                <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                  <div class="buy-price">
                      {% if look.saleprice > 0 %}
                          <strike>{{ look.price|format_currency }}</strike>
                          <span itemprop="price" class="onsale">{{ look.saleprice|format_currency }}</span>
                          <p>Compre junto e ganha {{ (look.price - look.saleprice)|format_currency }}!</p>
                      {% else %}
                          <span itemprop="price">{{ look.price|format_currency }}</span>
                      {% endif %}
                  </div>
                </div>

                <div class="pull-right wishlist buffer-top-sm">
                    {{ wishlist_button('Adicionar ao lista de desejos', product) }}
                </div>

                <div class="buffer-top-sm buffer-bottom-sm">
                    <button class="btn btn-primary btn-lg btn-buy-look" type="submit" value="submit"><i class="glyphicon glyphicon-shopping-cart"></i> Comprar look</button>
                </div>
                
                {{ form_open('contact/remind_me', 'class="remindme-form hide form-horizontal"', {'redirect': site_url(uri_string()), 'variant_id': '', 'product_id': product.id}) }}
                <fieldset>
                    Avisa-me quando chegar: 
                    <div class="input-group">
                      <input type="text" name="email" class="form-control" placeholder="Email" />
                      <span class="input-group-btn">
                        <input type="submit" value="Enviar" name="submit" class="btn btn-primary"/>
                      </span>
                    </div>
                </fieldset>
                {{ form_close() }}

            </div>
        </div>
    </div>
    <hr>
    <div class="row">
    {% if product.description %}
        <div class="col-md-7">
            {{ product.description|raw }}
        </div>
    {% endif %}
    {% if product.properties|count > 0 %}
        <div class="col-md-5">
            <div class="buffer-left-md">
                {{ product_properties(product.properties) }}
            </div>
        </div>
    {% endif %}
    </div>

</div>



{% endblock %}