<section id="main-menu">
	<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			{% for page in get_children_of_page('topo-esquerda') %}
				<li>
					<a href="{{ site_url(page.url) }}">{{ page.title }}</a>
				</li>
			{% endfor %}
			{% for cat in categories %}
				{% if cat.category.slug != 'home' %}
					{% if cat.children|count > 0 %}
						<li class="dropdown" onmouseover="$(this).addClass('open');" onmouseout="$(this).removeClass('open');">
							<a href="{{ site_url(cat.category.slug) }}">
								{{ cat.category.name }}
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{% for child in cat.children %}
									<li>
										<a href="{{ site_url(cat.category.slug ~ '/' ~ child.category.slug) }}">
											{{ child.category.name }}
										</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li>
							<a href="{{ site_url(cat.category.slug) }}">{{ cat.category.name }}</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% for page in get_children_of_page('topo-direita') %}
				<li>
					<a href="{{ site_url(page.url) }}">{{ page.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</section>