{% extends _layout %}

{% block content %}

{{ breadcrumbs_widget() }}

{% if categories[category.root_category].children %}

<div class="row">
	<div class="col-xs-3 sidebar">
		<div class="sidebar-column">
			<div class="sidebar-column-in">
				<h4>
					{{ categories[category.root_category].category.name }}
				</h4>
				<ul class="nav nav-pills nav-stacked">
					{% for category_group in categories[category.root_category].children %}
					    <li class="{{ category_group.category.id == category.id ? 'active' : 'inactive' }}">
					    	<a href="{{ site_url(categories[category.root_category].category.slug ~ '/' ~ category_group.category.slug) }}">{{ category_group.category.name }}</a>
					    	<ul class="children-subcategory nav nav-pills nav-stacked">
					    	{% for subcategory_group in category_group.children %}
					    		<li>
					    			<a href="{{ site_url(categories[category.root_category].category.slug ~ '/' ~ category_group.category.slug ~ '/' ~ subcategory_group.category.slug) }}">
					    				{{ subcategory_group.category.name }}
					    			</a>
					    		</li>
					    	{% endfor %}
					    	</ul>
					    </li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="col-xs-9">

{% endif %}

<h2 class="page-title">
  {{ category.name }}
</h2>
<div class="row prod-list">
	{% for product in products %}
		<div class="col-xs-2">
		   <div class="prod-wrapper">
		      <!-- Overlay com o link do produto -->
		      <a class="prod-overlay" href="{{ product.slug }}"></a>
		      <!-- Imagem principal do produto -->
		      <div class="prod-image">
		         <div class="prod-image-overflow">
		            {{ product_img(product, 'small') }}
		         </div>
		      </div>
		      <div class="prod-info">
		         <h3>{{ product.name }}</h3>
		         <span class="price">
		         <strong class="buy-price">
		         <span class="sale">{{ product.price|format_currency }}</span>
		         </strong>
		         {% if product.installments > 1 %}
		         	<span class="installments-price">
		         		Em até <strong class="color">{{ product.installments }} x</strong>
		         		de <strong class="color">{{ (product.price/product.installments)|format_currency }}</strong>
		         		<span>sem juros</span>
		         	</span>
		         {% endif %}
		         </span>
		      </div>
		   </div>
		</div>
	{% else %}
		<div class="col-md-12">
			Não há produtos na categoria home.
		</div>
	{% endfor %}
</div>

{% if categories[category.root_category].children %}

	</div>
</div>

{% endif %}

{{ theme_js('jquery.equalheights.js', true) }}
<script type="text/javascript">
$(window).load(function(){
	$('.prod-wrapper').equalHeights();
    $('.prod-image').equalHeights();
});
</script>

{% endblock %}