{% if current_lang() == 'portugues' %}
<div class="prod-frete">
    <div class="row">
        <div class="col-xs-12">
            <style>
                .frete_result_msg {
                    color: red;
                    font-size: 11px;
                }
            </style>
            <div class="frete">
                {{ form_open('/shipping/get_frete?format=json', 'id="form-shipping"') }}
                <fieldset>
                    <label for="cep">Frete e Prazo</label>
                    {% if is_mobile %}
                    <div class="input-group" style="width:100%">
                        <input style="width: 60% !important;" type="tel" id="zip_code" name="zip" class="form-control" placeholder="CEP" />
                        <input style=" width:38%;" type="submit" value="Calcular" name="submit" class="btn btn-primary" />
                    </div>
                    {% else %}
                    <div class="input-group">
                        <input type="text" id="zip_code" name="zip" class="form-control" placeholder="CEP" />
                        <span class="input-group-btn">
                            <input type="submit" value="Calcular" name="submit" class="btn btn-primary disabled" />
                        </span>
                    </div>
                    {% endif %}
                </fieldset>

                <input type="hidden" name="product_price" value="{{ product.saleprice > 0 ? product.saleprice : product.price }}" />
                <input type="hidden" name="product_weight" value="{{ product.weight }}" />
                <input type="hidden" name="product_height" value="{{ product.height }}" />
                <input type="hidden" name="product_width" value="{{ product.width }}" />
                <input type="hidden" name="product_depth" value="{{ product.depth }}" />
                <input type="hidden" name="product_sku" value="{{ product.sku }}" />
                <input type="hidden" name="product_category" value="{{ product.product_main_category_text }}" />
                <input type="hidden" name="processing_days" value="{{ product.processing_days }}" />
                <input type="hidden" name="product_page" value="true" /> {{ form_close() }}
                <div class="frete_results"></div>
                <script>
                    var p_s_started = false;
                    $('#zip_code').mask('99999-999');
                    $('#zip_code').on('keyup', function () {
                        var zipTest = $('#zip_code').val().search('_');
                        if (zipTest == -1) {
                            $('#form-shipping input[type=submit]').removeClass('disabled');
                        } else {
                            $('#form-shipping input[type=submit]').addClass('disabled');
                        };
                    });

                    $('#form-shipping').on('submit', function (e) {
                        e.preventDefault();
                        // Prevent multiple processes
                        if (p_s_started) {
                            return false;
                        }

                        p_s_started = true;
                        $('#form-shipping input[type=submit]').addClass('disabled').val('Calculando...');

                        {% if not product.shippable %}
                        $shipping = '<p><strong>Frete Grátis</strong></p>';
                        $('.frete_results').removeClass('error').fadeIn().html($shipping);
                        $('#form-shipping input[type=submit]').removeClass('disabled').val('Calcular');
                        p_s_started = false;
                        {% else %}
                        var action = $(this).attr('action');
                        var zip = $('#zip_code').val().replace("-", "");
                        var product_price = $('input[name=product_price]').val();
                        var product_weight = $('input[name=product_weight]').val();
                        var product_height = $('input[name=product_height]').val();
                        var product_width = $('input[name=product_width]').val();
                        var product_depth = $('input[name=product_depth]').val();
                        var processing_days = $('input[name=processing_days]').val();
                        var product_category = $('input[name=product_category]').val();
                        var product_sku = $('input[name=product_sku]').val();

                        $.getJSON(site_url.base + 'shipping/busca_cep', { zip: zip }, function (data) {
                            $shipping = ''; $block_sale = '';
                            var serialized = { country: 30, product_price: product_price, product_weight: product_weight, product_height: product_height, product_width: product_width, product_depth: product_depth, processing_days: processing_days, product_category: product_category, product_sku: product_sku, zip: zip, address: data };

                            if (data['resultado'] == 0) {
                                $shipping = '<p><strong>Endereço não encontrado. Corrija seu CEP...</strong></p>';
                                $('.frete_results').removeClass('error').fadeIn().html($shipping);
                                $('#form-shipping input[type=submit]').removeClass('disabled').val('Calcular');
                                p_s_started = false;
                            } else {
                                $.post(action, serialized, function (fdata) {
                                    $('#form-shipping input[type=submit]').removeClass('disabled').val('Calcular');
                                    $.each(fdata["shipping_rates"], function (i, curr) {
                                        if (typeof curr['error'] != 'undefined' && curr['error'] != null) {
                                            shipping_method_error = '<br><span class="frete_result_msg">' + curr['error'] + '</span>';
                                        } else {
                                            shipping_method_error = '';
                                        }

                                        if (typeof curr['name'] != 'undefined') {
                                            $name = curr['name'];
                                        } else {
                                            $name = i;
                                        }
                                        $name += ': ';

                                        if (typeof fdata['shipping_rates']['A cobrar'] == 'undefined') {
                                            if (curr['hide_price'] == 1) {
                                                curr['str'] = $name;
                                                $name = '';
                                            } else if (curr['num'] == 0 || curr['num'] == 'FREE') {
                                                curr['str'] = 'Frete Grátis';
                                            }
                                        } else {
                                            if (typeof fdata['shipping_rates']['A cobrar']['block_sale'] == 'undefined') {
                                                curr['str'] = 'O valor e o prazo do frete serão informados após a compra.';
                                            } else {
                                                $block_sale = fdata['shipping_rates']['A cobrar']['block_sale'];
                                            }
                                        }

                                        if ($block_sale != '') {
                                            $shipping = $block_sale;
                                        } else {
                                            $time_text = '';
                                            if (curr['time'] > 0) {
                                                $time_text = 'Prazo de Entrega: <strong>até ' + curr['time'] + ' dias úteis</strong>';
                                            }
                                            $shipping = $shipping + '<p class="frete_result">' + $name + '<strong>' + curr['str'] + '</strong><br><span>' + $time_text + '</span>' + shipping_method_error + '</p>';
                                        }
                                    });

                                    $('.frete_results').removeClass('error').fadeIn().html($shipping);
                                    p_s_started = false;
                                });
                            }
                        });
                        {% endif %}
                    });
                </script>
            </div>
        </div>
    </div>
</div>
{% endif %}